google.generativeai
dotenv
tweepy
langchain
langchain_core
langchain-community
langgraph
torch==2.4.1
torchvision==0.19.1
transformers==4.45.2
datasets==3.0.1
evaluate==0.4.3
accelerate==0.34.2
scikit-learn==1.5.2
imbalanced-learn==0.12.3
matplotlib==3.9.2
pandas==2.2.3
numpy>=2.1.0
huggingface-hub==0.26.2
ipykernel
nltk
bs4
ipython 
flask
